.gitigore
/HelloWorld/db.sqlite3

.gitigore
/*/mongoconfig.py
.gitigore
/*/postgreconfig.py
.gitigore
/option1.2_test/option/config/mongoconfig.py
.gitigore
/option1.2_test/option/config/postgreconfig.py
*.pyc