<?xml version="1.0" encoding="utf-8"?>
<config>
    <log>
        <print>True</print><!-- 控制是否打印日志 -->
        <logpath>log.log</logpath><!-- 打印日志目录文件 -->
    </log>
    <runmodel>1</runmodel>
    <database>
         <db>fes</db>
         <user>mongo</user>
         <password>mongo123456</password>
         <host>10.4.32.21</host>
         <port>27017</port>
         
         <table>
     
         </table>
    </database>
 
    <!-- URL 爬取列表 -->
    <urllist>
        <!-- k线图 -->
        <!-- 货币对 -->
		<klinecode>
			<AUDCAD.FX>澳元加元</AUDCAD.FX>
			<AUDCHF.FX>澳元瑞郎</AUDCHF.FX>
			<AUDEUR.FX>澳元欧元</AUDEUR.FX>
			<AUDHKD.FX>澳元港元</AUDHKD.FX>
			<AUDJPY.FX>澳元日元</AUDJPY.FX>
			<AUDUSD.FX>澳元美元</AUDUSD.FX>
			<CADHKD.FX>加元港元</CADHKD.FX>
			<CADJPY.FX>加元日元</CADJPY.FX>
			<CHFCAD.FX>瑞郎加元</CHFCAD.FX>
			<CHFHKD.FX>瑞郎港元</CHFHKD.FX>
			<CHFJPY.FX>瑞郎日元</CHFJPY.FX>
			<EURAUD.FX>欧元澳元</EURAUD.FX>
			<EURCAD.FX>欧元加元</EURCAD.FX>
			<EURCHF.FX>欧元瑞郎</EURCHF.FX>
			<EURGBP.FX>欧元英镑</EURGBP.FX>
			<EURHKD.FX>欧元港元</EURHKD.FX>
			<EURJPY.FX>欧元日元</EURJPY.FX>
			<EURUSD.FX>欧元美元</EURUSD.FX>
			<GBPAUD.FX>英镑澳元</GBPAUD.FX>
			<GBPCAD.FX>英镑加元</GBPCAD.FX>
			<GBPCHF.FX>英镑瑞郎</GBPCHF.FX>
			<GBPHKD.FX>英镑港元</GBPHKD.FX>
			<GBPJPY.FX>英镑日元</GBPJPY.FX>
			<GBPUSD.FX>英镑美元</GBPUSD.FX>
			<HKDJPY.FX>港元日元</HKDJPY.FX>
			<NZDCAD.FX>新西兰元加元</NZDCAD.FX>   
			<NZDCHF.FX>新西兰元瑞郎</NZDCHF.FX> 
			<NZDHKD.FX>新西兰元港币</NZDHKD.FX> 
			<NZDJPY.FX>新西兰元日元</NZDJPY.FX>             
			<USDAED.FX>美元阿联酋迪拉姆</USDAED.FX>
			<USDARS.FX>美元阿根廷比索</USDARS.FX>
			<USDBRL.FX>美元雷亚尔</USDBRL.FX>
			<USDCAD.FX>美元加元</USDCAD.FX>            
			<USDCHF.FX>美元瑞郎</USDCHF.FX>
			<USDCZK.FX>美元捷克克朗</USDCZK.FX>            
			<USDHKD.FX>美元港元</USDHKD.FX>
			<USDIDR.FX>美元印尼卢比</USDIDR.FX>
			<USDINR.FX>美元印度卢比</USDINR.FX>            
			<USDJPY.FX>美元日元</USDJPY.FX>
			<USDKRW.FX>美元韩元</USDKRW.FX>
			<USDMXN.FX>美元墨西哥比索</USDMXN.FX>
			<USDNOK.FX>美元挪威克朗</USDNOK.FX>
			<USDRUB.FX>美元卢布</USDRUB.FX>
			<USDSAR.FX>美元沙特阿拉伯里亚尔</USDSAR.FX>
			<USDTRY.FX>美元土耳其里拉</USDTRY.FX>            
			<USDX.FX>美元指数</USDX.FX>
			<HKDCNY.FX>港币人民币</HKDCNY.FX>
			<TWDCNY.FX>台币人民币</TWDCNY.FX>            
			<EURCNY.FX>欧元人民币</EURCNY.FX>
			<GBPCNY.FX>英镑人民币</GBPCNY.FX>
			<CHFCNY.FX>瑞郎人民币</CHFCNY.FX>
			<NZDCNY.IB>新西兰元人民币</NZDCNY.IB>
			<SGDCNY.IB>新加坡元人民币</SGDCNY.IB>            
			<AUDCNY.FX>澳元人民币</AUDCNY.FX>
			<CADCNY.FX>加元人民币</CADCNY.FX>
			<JPYCNY.IB>日元人民币</JPYCNY.IB>
			<USDCNY.FX>美元人民币</USDCNY.FX>
			<USDCNH.FX>离岸人民币</USDCNH.FX>
		</klinecode>
		<!-- k线图类型 -->
        <!-- k线图 -->		
    </urllist>
    
</config>


